.side-margin.container .cmp-container {
  margin-left: 10px;
  margin-right: 10px;
}

.comp-container-vertical-center.container .cmp-container > div {
  display: flex;
  align-items: center;
}

.side-padding.container .cmp-container {
  padding-left: 10px;
  padding-right: 10px;
}

.line-height-normal .cmp-contentfragment p,
.line-height-normal .cmp-text p {
  line-height: normal;
}

.text-color-white .cmp-contentfragment p,
.text-color-white .cmp-contentfragment ul,
.text-color-white .cmp-contentfragment h1,
.text-color-white .cmp-contentfragment h2,
.text-color-white .cmp-contentfragment h3,
.text-color-white .cmp-text p,
.text-color-white .cmp-text ul,
.text-color-white .cmp-text h1,
.text-color-white .cmp-text h2,
.text-color-white .cmp-text h3 {
  color: white;
}

.text-alignment-center .cmp-contentfragment p,
.text-alignment-center .cmp-contentfragment ul,
.text-alignment-center .cmp-contentfragment h2,
.text-alignment-center .cmp-contentfragment h3,
.text-alignment-center .cmp-text p,
.text-alignment-center .cmp-text ul,
.text-alignment-center .cmp-text h2,
.text-alignment-center .cmp-text h3 {
  text-align: center;
}