.side-margin.container .cmp-container {
  margin-left: 10px;
  margin-right: 10px;
}

.side-padding.container .cmp-container {
  padding-left: 10px;
  padding-right: 10px;
}

.line-height-normal .cmp-contentfragment p,
.line-height-normal .cmp-text p {
  line-height: normal;
}

.text-color-white .cmp-contentfragment p,
.text-color-white .cmp-text p {
  color: white;
}