.side-margin.container {
    .cmp-container {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.comp-container-vertical-center.container {
    .cmp-container {
        & > div {
            display: flex;
            align-items: center;
        }
    }
}

.side-padding.container {
    .cmp-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.line-height-normal {
    .cmp-contentfragment,
    .cmp-text {
        p {
            line-height: normal;
        }
    }
}

.text-color-white {
    .cmp-contentfragment,
    .cmp-text {
        p,
        ul,
        h1,
        h2,
        h3 {
            color: white;
        }
    }
}

.text-alignment-center {
    .cmp-contentfragment,
    .cmp-text {
        p,
        ul,
        h2,
        h3 {
            text-align: center;
        }
    }
}

.cmp-image-list-horizontal-list.image-list {
    .cmp-image-list {
        .cmp-image-list__item {
            flex-basis: initial;
            margin: 0;
            padding-right: 0;
            width: 100%;

            .cmp-image-list__item-content {
                .cmp-image-list__item-image-link {
                    width: 25%;
                    float: left;
                    padding-right: 20px;

                    .cmp-image__image {
                        height: auto
                    }
                }
                .cmp-image-list__item-title-link {
                    display: inline-block;
                    width: 70%;
                }
                .cmp-image-list__item-description {
                    margin-top: 0px;
                    width: 70%;
                    display: inline-block;
                    white-space: normal;
                }
            }
        }
    }
}

.cmp-image-list-title-list.image-list {
    .cmp-image-list {
        .cmp-image-list__item {
            .cmp-image-list__item-content {
                .cmp-image-list__item-image-link {
                    display: none;
                }
                .cmp-image-list__item-description {
                    display: none;
                }
            }
        }
    }
}

.cmp-teaser--article.teaser {
    .cmp-teaser {
        display: flex;

        .cmp-teaser__content {
            order: 1;
            margin: 5px 10px;

            .cmp-teaser__title {
                line-height: 1;
                margin: 0px;
                font-size: 26px;
            }

            .cmp-teaser__description {
                margin-top: 15px;

                p {
                    line-height: 1;
                }
            }
        }

        .cmp-teaser__image {
            max-width: 210px;
        }
    }
}

.cmp-content-fragment-content-only.contentfragment {
    .cmp-contentfragment {
        .cmp-contentfragment__elements {
            margin-block-start: 5px;

            .cmp-contentfragment__element--title {
                .cmp-contentfragment__element-value {
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: 13.5px;
                    margin-top: 27px;
                }
            }

            .cmp-contentfragment__element {
                .cmp-contentfragment__element-title {
                    display: none;
                }
                .cmp-contentfragment__element-value {
                    margin-inline-start: 0px;
                    margin-bottom: 15px;

                    img {
                        margin-bottom: 7px;
                        margin-top: 7px;
                    }
    
                    p {
                        line-height: normal;
                    }
                }
            }
        }
    }
}