/*
Teaser hero
*/

$desktop-max-height: 640px;
$mobile-max-height: 400px;

.cmp-teaser--hero {

    .cmp-teaser {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .cmp-teaser__image {
        flex: 1;
        width: 100%;
        height: $mobile-max-height;
        max-height: $mobile-max-height;
        overflow: hidden;

        .cmp-image {
            width: 100%;
            height: 100%;
        }

        .cmp-image__image {
            margin-top: 0;
            margin-bottom: 0;
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }

    .cmp-teaser__title {
        margin-bottom: 0em;
    }

    .cmp-teaser__description {
        margin-bottom: 0em;

        p {
            margin-bottom: 0em;
        }
    }
}

/* position image from top */
.cmp-teaser--imagetop {
    .cmp-teaser {
        border: 2px solid;

        .cmp-teaser__content {
            width: auto;
        }

        .cmp-teaser__image {
            .cmp-image__image {
                object-position: top;
            }
        }
    }
}

.cmp-teaser--imagebottom {
    .cmp-teaser {
        flex-direction: column;
        border: 2px solid;

        .cmp-teaser__content {
            margin: 0px;
            width: auto;
            padding: 15px;
            float: none;
            height: auto;
            min-height: auto;
        }

        .cmp-teaser__image {
            max-height: 25pc;
        }
    }
}


/*
Hero Card
*/
$teaser-height: 400px;
$teaser-img-height: $teaser-height;

.cmp-teaser--card {

    .cmp-teaser {
        position: relative;
        //height: $teaser-height;
        //max-height: $teaser-height;
        overflow: hidden;
        background-color: #ededed;

        .cmp-teaser__image {
            width: 100%;
            overflow: hidden;
            padding-top: 0px;

            .cmp-image {
                line-height: normal;
                font-size: 0;

                .cmp-image__image {
                    margin-top: 0px;
                    object-fit: cover;
                    object-position: top;
                    //height: $teaser-img-height;
                    width: 100%;
                    -webkit-transition: all .2s;
                    -moz-transition: all .2s;
                    -o-transition: all .2s;
                    transition: all .25s;
                    margin-bottom: 0px;
                }
            }
        }        

        .cmp-teaser__content {
            display: flex;
            flex-direction: column;
            height: 100%;
            position: absolute;
            justify-content: end;
            padding: 0px;
            width: 100%;
    
            .cmp-teaser__title {
                background-color: rgba(255, 255, 255, 0.65);
                margin: 0px;
                padding: 0px 20px;
            }
    
            .cmp-teaser__description {
                background-color: rgba(255, 255, 255, 0.65);
                line-height: normal;
                padding: 0px 20px 10px 20px;
            }
    
            .cmp-teaser__action-link {
                float: right;
            }
    
            .cmp-teaser__pretitle {
                position: absolute;
                top:0;
                right:0;
                padding: 0.5em;
                /*background: linear-gradient(to top right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #a48d01 50%, #a48d01 100%); */
                border-bottom-left-radius: 4px;
                box-shadow: -1px 2px 4px 1px rgba(0,0,0,0.25);
            }
        }
    }
}

/*
normal stuff here
*/

.side-margin.container {
    .cmp-container {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.comp-container-vertical-center.container {
    .cmp-container {
        & > div {
            display: flex;
            align-items: center;
        }
    }
}

.side-padding.container {
    .cmp-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.line-height-normal {
    .cmp-contentfragment,
    .cmp-text {
        p {
            line-height: normal;
        }
    }
}

.text-color-white {
    .cmp-contentfragment,
    .cmp-text {
        p,
        ul,
        h1,
        h2,
        h3 {
            color: white;
        }
    }
}

.text-alignment-center {
    .cmp-contentfragment,
    .cmp-text {
        p,
        ul,
        h2,
        h3 {
            text-align: center;
        }
    }
}

.cmp-image-list-horizontal-list.image-list {
    .cmp-image-list {
        .cmp-image-list__item {
            flex-basis: initial;
            margin: 0;
            padding-right: 0;
            width: 100%;

            .cmp-image-list__item-content {
                .cmp-image-list__item-image-link {
                    width: 25%;
                    float: left;
                    padding-right: 20px;

                    .cmp-image__image {
                        height: auto
                    }
                }
                .cmp-image-list__item-title-link {
                    display: inline-block;
                    width: 70%;
                }
                .cmp-image-list__item-description {
                    margin-top: 0px;
                    width: 70%;
                    display: inline-block;
                    white-space: normal;
                }
            }
        }
    }
}

.cmp-image-list-title-list.image-list {
    .cmp-image-list {
        .cmp-image-list__item {
            .cmp-image-list__item-content {
                .cmp-image-list__item-image-link {
                    display: none;
                }
                .cmp-image-list__item-description {
                    display: none;
                }
            }
        }
    }
}

.cmp-teaser--article.teaser {
    .cmp-teaser {
        display: flex;

        .cmp-teaser__content {
            order: 1;
            margin: 5px 10px;

            .cmp-teaser__title {
                line-height: 1;
                margin: 0px;
                font-size: 26px;
            }

            .cmp-teaser__description {
                margin-top: 15px;

                p {
                    line-height: 1;
                }
            }
        }

        .cmp-teaser__image {
            max-width: 210px;
        }
    }
}

.cmp-content-fragment-content-only.contentfragment {
    .cmp-contentfragment {
        .cmp-contentfragment__elements {
            margin-block-start: 5px;

            .cmp-contentfragment__element--title {
                .cmp-contentfragment__element-value {
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: 13.5px;
                    margin-top: 27px;
                }
            }

            .cmp-contentfragment__element {
                .cmp-contentfragment__element-title {
                    display: none;
                }
                .cmp-contentfragment__element-value {
                    margin-inline-start: 0px;
                    margin-bottom: 15px;

                    img {
                        margin-bottom: 7px;
                        margin-top: 7px;
                    }
    
                    p {
                        line-height: normal;
                    }
                }
            }
        }
    }
}

.title.cmp-title--center {
    .cmp-title__text {
        text-align: center;
    }
}

.contentfragment.cmp-contentfragment-product-specs {
    .cmp-contentfragment__elements {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 10px;

        .cmp-contentfragment__element--primaryImage {
            flex-basis: 50%;
        }

        .cmp-contentfragment__element--itinerary {
            flex-grow: 2;
        }

        .cmp-contentfragment__element {
            background-color: lightgrey;
            padding: 0px 20px;
            flex-grow: 1;

            .cmp-contentfragment__element-title {
                display: none;
            }

            .cmp-contentfragment__element-value {
                margin-inline-start: 0px;
            }
        }
    }

}

/**
Content Fragment Extended Teaser
**/
.cmp-contentfragment-featured
{
    .cmp-contentfragment {
        .cmp-contentfragment__elements {
            display: flex;
            align-items: center;
            position: relative;
    
            .cmp-contentfragment__element {
                display: none;
    
                .cmp-contentfragment__element-title {
                    display: none;
                }

                .cmp-contentfragment__element-value {
                    margin: 0px;
                    width: 100%;

                    p {
                        line-height: normal;
                    }
                }
            }

            .cmp-contentfragment__element--title {
                display: inherit;
                position: absolute;
                top: 0;
                right: 0;
                background-color: rgba(3, 3, 3, 0.75);
                padding: 20px 20px;
                color: #FFFFFF;
                font-size: 25px;
            }

            .cmp-contentfragment__element--description {
                display: inherit;
                flex-basis: 50%;
                background-color: rgba(240, 240, 240, 1);
                padding: 20px 20px;

            }

            .cmp-contentfragment__element--primaryImage {
                display: inherit;
                flex-basis: 80%;

                img {
                    width: 100%;
                }
            }
        }
    }
}

/**
Content Fragment Extended Card
**/
.cmp-contentfragment-card
{
    .cmp-contentfragment {
        .cmp-contentfragment__elements {
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
    
            .cmp-contentfragment__element {
                display: none;
    
                .cmp-contentfragment__element-title {
                    display: none;
                }

                .cmp-contentfragment__element-value {
                    margin: 0px;
                    width: 100%;

                    p {
                        line-height: normal;
                    }
                }
            }

            .cmp-contentfragment__element--title {
                display: inherit;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(3, 3, 3, 0.75);
                padding: 20px 20px;
                color: #FFFFFF;
                font-size: 25px;
            }

            .cmp-contentfragment__element--description {
                display: inherit;
                background-color: rgba(3, 3, 3, 0.75);
                padding: 20px 20px;
                position: absolute;
                bottom: 0;
                color: #FFFFFF;
            }

            .cmp-contentfragment__element--primaryImage {
                display: inherit;
            }

            .cmp-contentfragment__element--price
            {
                display: inherit;
                background-color: rgba(3, 3, 3, 0.75);
                padding: 20px 20px;
                position: absolute;
                top: 0;
                right: 0;
                color: #FFFFFF;
                font-size: 25px;
            }
        }
    }
}

/**
Content Fragment Extended Full
**/
.cmp-contentfragment-full {
    .cmp-contentfragment {
        .cmp-contentfragment__elements {
            display: flex;
            align-items: center;
            position: relative;
            flex-wrap: wrap;
            justify-content: center;
    
            .cmp-contentfragment__element {
                display: none;
                background-color: rgba(240, 240, 240, 1);
                padding: 20px 20px;
                margin: 0px 5px;
    
                .cmp-contentfragment__element-title {
                    display: none;
                }

                .cmp-contentfragment__element-value {
                    margin: 0px;
                    width: 100%;

                    p {
                        line-height: normal;
                    }
                }
            }

            .cmp-contentfragment__element--description, .cmp-contentfragment__element--itinerary, .cmp-contentfragment__element--gearList {
                display: inherit;
                flex-basis: 28%;
                max-height: 500px;
                overflow: auto;
            }

            .cmp-contentfragment__element--title {
                display: inherit;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(3, 3, 3, 0.75);
                padding: 20px 20px;
                color: #FFFFFF;
                font-size: 25px;
            }

            .cmp-contentfragment__element--primaryImage {
                padding: 0px;
                margin: 0px;
                display: inherit;
                order: -1;
                flex-basis: 100%;
            }

            .cmp-contentfragment__element--price
            {
                display: inherit;
                background-color: rgba(3, 3, 3, 0.75);
                padding: 20px 20px;
                position: absolute;
                top: 0;
                right: 0;
                color: #FFFFFF;
                font-size: 25px;
            }
        }
    }
}

/**
Content Fragment Extended Title
**/

.cmp-contentfragment-title {
    .cmp-contentfragment {
        .cmp-contentfragment__elements {
            .cmp-contentfragment__element {
                display: none;
                padding: 20px 0px;
                margin: 0px;
    
                .cmp-contentfragment__element-title {
                    display: none;
                }

                .cmp-contentfragment__element-value {
                    margin: 0px;
                    width: 100%;

                    p {
                        line-height: normal;
                    }
                }
            }

            .cmp-contentfragment__element--title {
                display: inherit;

                .cmp-contentfragment__element-value {
                    margin: 0px;
                    margin-bottom: 13.5px;
                    margin-top: 27px;
                    font-size: 40px;
    
                    &:after {
                        border-bottom: 2px solid #ffea00;
                        padding-top: 8px;
                        width: 84px;
                    }
                }
            }
        }
    }
}