.cmp-image--logo {
    .cmp-image__image {
        max-width: 11rem;
    }
}

.cmp-title--center {
    .cmp-title {
        text-align: center;
    }
}

.cmp-title--purple-gradient {
    .cmp-title {
        background: linear-gradient(90deg, rgba(255,255,255,0.012123599439775923) 0%, rgba(68,13,85,1) 40%, rgba(68,13,85,1) 60%, rgba(255,255,255,0) 100%);
    }
}

.cmp-title--nospacing {
    .cmp-title {
        h1, h2, h3, h4, h5, h6 {
            margin: 0px;
            padding: 0px;
        }
    }
}

.image {
    .cmp-image {
        line-height: 0;

        .cmp-image__image {
            margin: 0px;
            padding: 0px;
        }
    }
}

.cmp-layout-container--top-bottom-padding {
    margin-top: 50px;
    margin-bottom: 50px;
}

.cmp-layout-container--left-right-padding {
    margin-left: 15px;
    margin-right: 15px;
}

.cmp-text--teaser {
    .cmp-text {
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 2em;
            margin: 0px;
        }
    }
}

.cmp-layout-container--top--photo {
    margin-top: 50px;
    margin-bottom: 50px;

    .cmp-container {
        .image {
            padding: 5px;

            .cmp-image {
                img {
                    border-radius: 10px;
                }
            }
        }
    }
}

.cmp-layout-container--blue-gradient {
    > .cmp-container {
        background: linear-gradient(90deg, rgba(255,255,255,0.012123599439775923) 0%, rgba(133,212,255,1) 40%, rgba(133,212,255,1) 60%, rgba(255,255,255,0) 100%);
    }
}

.cmp-button--green {
    .cmp-button {
        float: none;
        height: auto;
        padding: 10px 20px;
        border-radius: 15px;
        background-color: #00AD50;

        .cmp-button__text {
            float: none;
            padding: 0px;
            color: #FFFFFF;
        }
    }
}

.cmp-button--center {
    .cmp-button {
        float: none;
        margin: auto;

        .cmp-button__text {
            float: none;
        }
    }
}

.cmp-image-list--news {
    .cmp-image-list {
        flex-direction: column;

        .cmp-image-list__item {
            flex-basis: auto;
            margin: 0px;
            padding: 0px;
            background-color: rgb(247, 247, 247);
            border-radius: 20px;
            margin-top: 10px;
            width: 100%;

            .cmp-image-list__item-content {
                .cmp-image-list__item-image-link {
                    float: left;
                    margin-right: 20px;
                    line-height: 0px;

                    .cmp-image__image {
                        border-radius: 20px;
                    }
                }

                .cmp-image-list__item-title-link {
                    float: left;
                    width: 600px;
                }

                .cmp-image-list__item-description {
                    float: left;
                    width: 600px;
                    white-space: inherit;
                }
            }
        }
    }
}

.cmp-list--news {
    .cmp-list {
        float: none;

        .cmp-list__item {
            float: none;
            display: flex;
            flex-flow: column;
            background-color: #005A8C;
            padding: 5px 15px;
            color: white;

            .cmp-list__item-link {
                float: none;
                padding: 0px;
                color: #FFFFFF;
                margin-bottom: 10px;

                .cmp-list__item-title {
                    float: none;
                }

                .cmp-list__item-date {
                    float: none;
                }

                .cmp-list__item-description {
                    float: none;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 1.3em;
                }
            }
        }
    }
}