@charset "UTF-8";
/*= my skills */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
.skillbar-wrapper {
  margin: 1.5em auto;
  max-width: 960px;
}

.skillbar {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
}

.skillbar-title, .skillbar-bar {
  background: #04AA6D;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin: 0;
  background-color: #04AA6D;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 35px;
  width: 0%;
  border-radius: 3px;
  transition: 500ms linear;
  transition-property: width, background-color;
}

.skillbar-bar-20 {
  width: 20%;
}

.skillbar-bar-40 {
  width: 40%;
}

.skillbar-bar-60 {
  width: 60%;
}

.skillbar-bar-80 {
  width: 80%;
}

.skillbar-bar-100 {
  width: 100%;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.4);
  transition: color 500ms ease-out;
}

/** calendar **/
* {
  padding: 0;
  margin: 0;
}

.light .calendar {
  background: #FFF;
  color: #262829;
  border-radius: 16px;
  border: 1px solid #262829;
}
.light .calendar .calendar-inner .calendar-body .calendar-today {
  background: linear-gradient(to bottom, #03a9f4, #2196f3);
}
.light .calendar .calendar-inner .calendar-body .calendar-today a {
  outline: 2px solid transparent;
}
.light .calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
  border-bottom: 1px solid #404040;
}
.light .calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
  border-bottom: 1px solid #404040;
}
.light .calendar .calendar-inner .calendar-body div > a {
  color: #262829;
}
.light .calendar .calendar-inner .calendar-body div:hover {
  border: 1px solid #505050;
}
.light .calendar .calendar-inner .calendar-body .prev-dates, .light .calendar .calendar-inner .calendar-body .next-dates {
  color: #484848;
}
.light .calendar .calendar-inner .calendar-today-date {
  background: #FFF;
}
.light .calendar .calendar-inner .calendar-controls .calendar-next a {
  background: transparent;
}
.light .calendar .calendar-inner .calendar-controls .calendar-next a svg path {
  fill: #262829;
}
.light .calendar .calendar-inner .calendar-controls .calendar-prev a {
  color: #262829;
  background: transparent;
}
.light .calendar .calendar-inner .calendar-controls .calendar-prev a svg path {
  fill: #262829;
}

.calendar {
  background: #262829;
  color: #FFF;
  border-radius: 16px;
}
.calendar .calendar-inner .calendar-body .calendar-today {
  background: linear-gradient(to bottom, #03a9f4, #2196f3);
}
.calendar .calendar-inner .calendar-body .calendar-today a {
  outline: 2px solid transparent;
}
.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
  border-bottom: 1px solid #404040;
}
.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
  border-bottom: 1px solid #404040;
}
.calendar .calendar-inner .calendar-body div > a {
  color: #FFF;
}
.calendar .calendar-inner .calendar-body div:hover {
  border: 1px solid #505050;
}
.calendar .calendar-inner .calendar-body .prev-dates, .calendar .calendar-inner .calendar-body .next-dates {
  color: #484848;
}
.calendar .calendar-inner .calendar-today-date {
  background: #1b1f21;
}
.calendar .calendar-inner .calendar-controls .calendar-next a {
  background: transparent;
}
.calendar .calendar-inner .calendar-controls .calendar-next a svg path {
  fill: #FFF;
}
.calendar .calendar-inner .calendar-controls .calendar-prev a {
  color: #FFF;
  background: transparent;
}
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path {
  fill: #FFF;
}

.calendar {
  font-family: "IBM Plex Sans", sans-serif;
  position: relative;
  /*max-width: 400px;*/ /*change as per your design need */
  min-width: 320px;
  margin: 20px auto;
  box-sizing: border-box;
  overflow: hidden;
  font-weight: normal;
}

.calendar-inner {
  padding: 10px 10px;
  line-height: 0px;
}

.calendar .calendar-inner .calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.calendar .calendar-inner .calendar-body div {
  padding: 4px;
  min-height: 30px;
  line-height: 30px;
  border: 1px solid transparent;
  margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
  border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
  border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body div > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
  border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
  border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
  display: grid;
  text-align: center;
  cursor: pointer;
  margin: 3px 0px;
  padding: 8px 0px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
  display: flex;
  min-width: 100px;
  justify-content: space-evenly;
  align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
  text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
  font-weight: 500;
  font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
  border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
  border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
  font-family: arial, consolas, sans-serif;
  font-size: 26px;
  text-decoration: none;
  padding: 4px 12px;
  display: inline-block;
  margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
  height: 20px;
  width: 20px;
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  border: 1px solid transparent;
  pointer-events: none;
}

/* SGWS custom */
.cmp-image--logo .cmp-image__image {
  max-width: 40px;
}

.cmp-teaser .cmp-teaser__action-link {
  background-color: #d12c2a;
  color: #FFFFFF;
  border-radius: 5px;
}

.teaser.cmp-teaser--featured-reversed .cmp-teaser__content {
  order: 2;
}

.teaser.cmp-teaser--featured .cmp-teaser__content {
  flex: 2;
}

.teaser.cmp-teaser--dark .cmp-teaser__content {
  background: #000000;
  color: #FFFFFF;
}
.teaser.cmp-teaser--dark .cmp-teaser__content .cmp-teaser__title, .teaser.cmp-teaser--dark .cmp-teaser__content h2, .teaser.cmp-teaser--dark .cmp-teaser__content h3, .teaser.cmp-teaser--dark .cmp-teaser__content h4 {
  color: white;
}

.teaser.cmp-teaser--grey .cmp-teaser__content {
  background: #f4f4f4;
}

.margin-10 .cmp-container {
  margin: 0px 10px;
}

.margin-20 .cmp-container {
  margin: 0px 20px;
}

.teaser.cmp-teaser--tile .cmp-teaser {
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
}
.teaser.cmp-teaser--tile .cmp-teaser .cmp-teaser__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  order: 2;
  padding: 0px 10px;
}
.teaser.cmp-teaser--tile .cmp-teaser .cmp-teaser__content .cmp-teaser__pretitle {
  margin: 0px;
  text-align: center;
}

.teaser.cmp-teaser--tile--border .cmp-teaser {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px darkgrey;
}

.tabs.cmp-tabs--underline .cmp-tabs .cmp-tabs__tab {
  font-size: 24px;
}
.tabs.cmp-tabs--underline .cmp-tabs .cmp-tabs__tab--active {
  background-color: transparent;
  border: none;
  border-color: inherit;
  color: black;
  text-decoration: underline red;
  text-underline-offset: 10px;
}

.tags .tag {
  background-color: #d7c386;
  color: #ffffff;
  padding: 5px;
  margin: 3px;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.image-list .cmp-image-list .cmp-image-list__item {
  flex-basis: 270px;
  padding: 0px 7px;
}
.image-list .cmp-image-list .cmp-image-list__item .cmp-image-list__item-content .cmp-image-list__item-description {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 0.5rem;
}
.image-list .cmp-image-list .cmp-image-list__item .cmp-image-list__item-content:after {
  content: "56 view(s)     8 post(s)";
  font-size: 14px;
  color: red;
}

.image-list.cmp-image-list-events .cmp-image-list .cmp-image-list__item {
  flex-basis: 100%;
}
.image-list.cmp-image-list-events .cmp-image-list .cmp-image-list__item .cmp-image-list__item-content {
  display: flex;
}
.image-list.cmp-image-list-events .cmp-image-list .cmp-image-list__item .cmp-image-list__item-content .cmp-image-list__item-image-link {
  width: 350px;
  margin-right: 20px;
}
.image-list.cmp-image-list-events .cmp-image-list .cmp-image-list__item .cmp-image-list__item-content .cmp-image-list__item-title-link {
  display: none;
}
.image-list.cmp-image-list-events .cmp-image-list .cmp-image-list__item .cmp-image-list__item-content .cmp-image-list__item-description {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 0.5rem;
  flex-grow: 1;
}
.image-list.cmp-image-list-events .cmp-image-list .cmp-image-list__item .cmp-image-list__item-content:after {
  content: none;
}