.standard {
  .cmp-breadcrumb__item {
    a {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .cmp-breadcrumb__item {
    >span {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.title {
  .cmp-title__text {
    color: #0078d2;
  }
}

.text, .cmp-contentfragment__element {
  .cmp-text, .cmp-contentfragment__element-value {
    color: #36495a;
    margin-inline-start: 0px;

    a {
      color: #0078d2;
    }

    h2 {
      color: #00467f;
      font-size: 2.14286rem;
      line-height: 36px;
    }

    p {
      margin-bottom: 10px;
    }

    ul, ol {
      padding: 0px 15px;
      margin: 0px;
      line-height: 2;
    }
  }
}

.contentfragment {
  .cmp-contentfragment {
    margin: 0.75rem 0 0;

    .cmp-contentfragment__title {
      color: #00467f;
      font-size: 2.14286rem;
      line-height: 36px;
    }

    .cmp-contentfragment__elements {
      .cmp-contentfragment__element {
        .cmp-contentfragment__element-title {
          display: none;
        }
      }

      .cmp-contentfragment__element--title {
        display: none;
      }
    }
  }
}

.contentfragment.quote {
  .cmp-contentfragment {
    margin: 0.75rem 0.75rem;
    background-color: lightgray;
  }
}